<!DOCTYPE html>
<html>
<head>
    <title>{% block title page.title|default('Untitled') %}</title>

    {% block meta %}
        <meta charset="UTF-8" />

        {% if page.description|default %}
            <meta name="description" content="{{ page.description }}">
        {% endif %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    {% block stylesheets %}
        {% stylesheets output='css/styles.css' 
            '@IntegratedWebsiteBundle/Resources/less/styles.less' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        {{ integrated_stylesheets() }}
    {% endblock %}
</head>
<body>

<div class="container">
    <br />
    {{ integrated_menu('main', { 'depth': 2 }) }}
    <br />
    {% block content %}
        {{ integrated_grid('main') }}
    {% endblock %}
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/integratedcontent/components/handlebars/handlebars.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/integratedwebsite/components/bootbox/bootbox.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>

{% if app.request.attributes.get('integrated_block_edit') %}
    {{ include('@IntegratedWebsite/handlebars/grid.html.twig') }}
{% endif %}

{% if app.request.attributes.get('integrated_menu_edit') %}
    {{ include('@IntegratedWebsite/handlebars/menu.html.twig') }}
{% endif %}

{% block javascripts %}
    {{ integrated_javascripts() }}
{% endblock %}

</body>
</html>
