{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">
                    {% trans %}Pages{% endtrans %}
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if lastPage %}
        {% if (lastPage.domain == app.request.httphost) %}
            {% set lastUrl = lastPage.path %}
        {% else %}
            {% set lastUrl = '//'~lastPage.domain~path('integrated_website_enter_session', {'sessionId': app.session.id, 'path': lastPage.path}) %}
        {% endif %}
        <div class="alert alert-info">
        <div class="clearfix">
            {% trans %}Last changed{% endtrans %}: "{{ lastPage.title }}" {% trans %}on{% endtrans %} "{{ lastPage.channel.name }}"
            <div class="pull-right">
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ lastUrl }}';">{% trans %}Open page{% endtrans %}</button>
            </div>
        </div>
    </div>
    {% endif %}

    <section>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('integrated_page_page_new') }}';">{% trans %}New page{% endtrans %}</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('integrated_page_page_new') }}">{% trans %}New page{% endtrans %}</a></li>
                <li><a href="{{ path('integrated_page_page_copy') }}">{% trans %}Copy pages{% endtrans %}</a></li>
            </ul>
        </div>
    </section>

    <div class="row">
        <div class="col-md-9">
            <section class="section-white section-padding section-shadow section-radius">

                <table class="table table-hover">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col style="width: 5em" />
                    </colgroup>

                    <thead>
                        <tr>
                            <th>{% trans %}Path{% endtrans %}</th>
                            <th>{% trans %}Title{% endtrans %}</th>
                            <th>{% trans %}Channel{% endtrans %}</th>
                            <th>{% trans %}Layout{% endtrans %}</th>
                            <th>{% trans %}Actions{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for page in pages %}
                        <tr>
                            <td>
                                {% if page.type == 'page' and page.domain != "" %}
                                    {% if (page.domain == app.request.httphost) %}
                                        <a href="{{ page.path }}">
                                    {% else %}
                                        <a href="//{{ page.domain }}{{ path('integrated_website_enter_session', {'sessionId': app.session.id, 'path': page.path}) }}">
                                    {% endif %}
                                {% endif %}
                                {{ page.path }}
                                {% if page.type == 'page' and page.domain != "" %}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {{ page.title }}
                            </td>
                            <td>
                                {{ page.channel.name }}
                            </td>
                            <td>
                                {{ page.layout|split('/')|last|replace({'.html.twig': ''}) }}
                            </td>
                            <td>
                                <a href="{{ path('integrated_page_'~page.type~'_edit', { 'id': page.id}) }}" title="{% trans %}Edit{% endtrans %}">
                                    {{ icon('pencil') }}
                                </a>

                                &nbsp;

                                {% if not page.locked %}
                                    <a href="{{ path('integrated_page_page_delete', { 'id': page.id }) }}" title="{% trans %}Delete{% endtrans %}">
                                        {{ icon('remove-circle') }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="4">
                                {% trans %}No pages added{% endtrans %}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

                {{ knp_pagination_render(pages) }}
            </section>
        </div>
        <div class="col-md-3">
            <aside>
                <div class="aside-holder section-gray section-shadow section-radius">
                    <div class="aside-item-holder">
                        {{ form(filterForm) }}
                    </div>
                </div>
            </aside>
        </div>
    </div>

{% endblock %}
