{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_page_page_index') }}">{% trans %}Pages{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}New{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <h1 class="main-title font-regular">
                {% trans %}New{% endtrans %} <small>{% trans %}Page{% endtrans %}</small>
            </h1>
            <section class="section-white section-padding section-shadow section-radius">
                {{ form(form, { 'style': 'horizontal' }) }}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        var $channel = $('#integrated_page_page_channel');
        var $token = $('#integrated_page_page__token');
        $channel.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            data[$channel.attr('name')] = $channel.val();
            data[$token.attr('name')] = $token.val();
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#integrated_page_page_layout').replaceWith(
                        $(html).find('#integrated_page_page_layout')
                    );
                }
            });
        });
    </script>
{% endblock %}
